
  

<div>
    <ul>
        <li>User ID: {{user._id}}</li>
        <li>username: {{user.username}}</li>
        <li>First Name: {{user.firstName}}</li>
        <li>Last Name: {{user.lastName}}</li>
        <li>Profession: {{user.Profession}}</li>
        <li>Bio: {{user.Bio}}</li>
    </ul>

    <div>
        <button class="button" type="button" onclick="window.location.href='./logout'" > Logout </button>
    </div>
    </div>
    


